@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
    font-family: Poppins;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 1rem;
    position: relative;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 25vw;
    text-align: center;
    transform: translate(-50%, -50%);
}

.cardHeader {
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
}

.inputGroup {
    padding: 20px;
}

input {
    font-size: 12px;
    color: black;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
    border-radius: 10px;
    border: 1px solid black;
    font-family: Poppins;
}

button {
    background: #000000;
    border-radius: 10px;
    padding: 15px;
    width: 85%;
    font-family: Poppins;
    color: white;
}