.container{
    display: grid;
    grid-template-columns: 25% auto;
    height: fit-content;
}



/*--------Right Panel CSS----------*/
.right-panel{
    display: grid;
    grid-template-rows: 10% 70% 20%;
height: 100vh;
background-color: #1C1B1B;

}




/*--------Left Panel CSS----------*/
.left-panel{
display: grid;
grid-template-rows: 10% 10% 80%;
height: 100vh;
background-image: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,1));

}
#add-a-friend{
    background: #007EF4 url('../assets/add.png') no-repeat left;
    background-origin: content-box;
    text-decoration: none;
    outline: none;
    
}
.addFriend{
    grid-area: 2;
}
.contacts-main{
    grid-area: 3;
}

.navbar{
grid-area: 1;
}

