.container{
    display: grid;
    grid-template-columns: 25% auto;
    height: fit-content;
}



/*--------Right Panel CSS----------*/
.right-panel{
    display: grid;
    grid-template-rows: 10% 70% 20%;
height: 100vh;
background-color: #1C1B1B;

}




/*--------Left Panel CSS----------*/
.left-panel{
display: grid;
grid-template-rows: 10% 90%;
height: 100vh;
background-image: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,1));

}

.contacts-main{
    grid-area: 2;
}

.navbar{
grid-area: 1;
}

