.navbar {
    grid-area: 1;
    margin: 5px;
    padding: 5px;
    display: grid;
}

.search-container {
    width: 100%;
    position: relative;
    display: flex;
}

.inputSearch {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.inputSearch:focus {
    color: #00B4CC;
}

.searchBtn {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/* .search-container {
    display: inline-block;
    margin-left: 110px;
    position: absolute;
    cursor: pointer;
}

.search-container {
    float: right;
}

#searchBtn {
    float: right;
    padding: 2px 4px;
    margin-left: 140px;
    background: #ddd;
    border: none;
    cursor: pointer;
    /* background: #1F1F1F url('../assets/search.png') no-repeat center; */

/* } */

/* .search-container button:hover {
    background: #ccc;
}

.inputSearch {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: white;
    outline: none;
}

/* ::placeholder {
    color: rgb(228, 231, 241);
    opacity: 1;
    font-family: "Arial Black", Gadget, sans-serif;
} */